name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    env:
      UV_CACHE_DIR: .uv-cache
      UV_PYTHON: "3.12"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - uses: astral-sh/setup-uv@2ddd2b9cb38ad8efd50337e8ab201519a34c9f24 # v7.1.1
      - uses: extractions/setup-just@v3
      - name: Sync dependencies
        run: just sync
      - name: Run lint
        run: just lint
      - name: Run unit tests
        run: just unittest
